.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
  font-family: 'Open Sans';
}

.reveal section img {
  box-shadow: none;
}

.reveal .slides section .fragment.strike {
  visibility: visible;
}
